.btn {
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 700;
  display: flex;
  cursor: pointer;
  gap: 8px;
}
.like {
  color: #888;
  background-color: transparent;
  border: 3px solid #888;
}
.like:hover {
  color: #ff0000;
  background-color: transparent;
  border: 3px solid #ff0000;
}
.liked {
  color: #fff;
  background-color: #ff0000;
  border: 3px solid #fff;
}
